<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>

<body>
  <app-img-aide class="imgAide" Mamise={{mise}}></app-img-aide>
  <div class="container">
    <div [style.display]="flex" class=".posts">
      <img class="Machine" src="../assets/machine-a-sous-1.jpg">
      <img class="Icon1Pos" src="{{resultPos1}}">
      <img class="Icon2Pos" src="{{resultPos2}}">
      <img class="Icon3Pos" src="{{resultPos3}}">
      <button id="buttonId" class="btn btn-danger" (click)="AnimationTirage()">Lancer</button>
      <div class="tickets">Mes tickets : {{ticket}}</div>
      <input type="text"  placeholder="nouvelle mise" #firstElement (change)="SetMise(firstElement.value)" />
      <div class="mise">Ma mise : {{mise}}</div>

    </div>
  </div>


</body>

</html>