body {
    background-color: darkred;
}
.Machine {
margin-left: 200px;
}
.Icon1Pos {
position: absolute;
margin-top: 370px;
margin-left: 293px ;
height: 150px;
width: 150px;

}
.Icon2Pos {
position: absolute;
margin-left: 473px ;
margin-top: 370px;
width: 150px;
height: 150px;    
}
.Icon3Pos {
position: absolute;
margin-left: 648px ;
margin-top: 370px;
width: 150px;
height: 150px;
}

#buttonId {
position: absolute;
width: 130px;
height: 70px;
margin-left: 770px;
margin-top: 628px;
}
.tickets {
    position: absolute;
margin-left: 950px;
margin-top: 50px;
font-size: 33px;
color: white;
}
.mise {
    position: absolute;
margin-left: 950px;
margin-top: 100px;
font-size: 33px;
color: white;
}
.posts{
    width:100%;
}

.container{
    width: 75%;
    margin: auto;
}
.imgAide {

position: absolute;
width: 50px;
height: 50px;
margin-left: 30px;
margin-top: 50px;

}
input{
    height: 30px;
    margin-top: 150px;
    background-color: darkred;
    border-color: darkred;
    font-size: 20px;
    color: white;
}