<ul>
    <li><img class="imgAide" src="../../assets/Icones/1.jpg"> x3 = {{mise*50}} tickets</li>
    <li><img class="imgAide" src="../../assets/Icones/5.jpg">x3 = {{mise*25}} tickets</li>
    <li><img class="imgAide" src="../../assets/Icones/6.jpg">x3 = {{mise*15}} tickets</li>
    <li><img class="imgAide" src="../../assets/Icones/4.jpg">x3 = {{mise*10}} tickets</li>
    <li><img class="imgAide" src="../../assets/Icones/3.jpg">x3 =  {{mise*9}} tickets</li>
    <li><img class="imgAide" src="../../assets/Icones/0.jpg">x3 =  {{mise*8}} tickets</li>
    <li><img class="imgAide" src="../../assets/Icones/7.jpg">x3 =  {{mise*6}} tickets</li>
    <li><img class="imgAide" src="../../assets/Icones/8.jpg">x3 =  {{mise*5}} tickets</li>
    <li><img class="imgAide" src="../../assets/Icones/2.jpg">x3 =  {{mise*2}} tickets</li>

</ul>